:root {
    --accent: #3665c2;
    --accenthover: #20407d;
    --light: #89aae8;
    --lighter: #e6ecf5;
    --dark: #28364f;
    --secondary: #2bcc33;
    --secondarylight: #b0ebb3;
    --lighthover: #c4cee0;
    --transition: all .3s ease 0s;
    --new: #8542e3;
    --newhover: #592e96;
}

* {
    box-sizing: border-box;
}
 
div.sectionsscroll {
    overflow: auto;
    white-space: nowrap;
}

div.sectionsscroll a {
    background-color: var(--new);
    display:inline-flex;
    color: white;
    text-align: center;
    font-size: large;
    align-items: stretch;
    text-decoration: none;
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word;
    max-width: 120px;
    transition: var(--transition);
    padding: 10px 10px 10px 10px;
    border-radius:10px;
}

div.sectionsscroll a:hover {
    background-color: var(--newhover);
}